@model IEnumerable<WebApplication1.Models.Carrello>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutUtente.cshtml";
}
<h2> Shopping Bag </h2>

@if (Model.Count() > 0)
{
    <hr />
    decimal totalprice = 0;

    <div class="container">
        
        @foreach (WebApplication1.Models.Carrello item in Model)
        {
            Html.RenderPartial("CartSub", item);
            totalprice = totalprice + item.attrezzo.prezzo * item.attrezzo.quantita;
        }
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                <h4>Prezzo Totale: <b>@totalprice €</b></h4>
            </div>
            <div class="col-lg-9">
                @using (Html.BeginForm("Checkout", "Home", FormMethod.Get))
                {
                    <button type="submit" class="btn btn-warning">Acquista</button>
                }
            </div>
        </div>
    </div>
}

@*

    <table class="table table-striped table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.id_attrezzo)</th>
        <th>@Html.DisplayNameFor(model => model.prodotto)</th>
        <th>@Html.DisplayNameFor(model => model.nome)</th>
        <th>@Html.DisplayNameFor(model => model.marchio)</th>
        <th>@Html.DisplayNameFor(model => model.peso)</th>
        <th>@Html.DisplayNameFor(model => model.prezzo)</th>


    </tr>
    @foreach (WebApplication1.Models.Attrezzi item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => item.id_attrezzo)</td>
            <td>
                <a href="@Url.Action("SpecificheAttrezzi", "Utente", new { id = item.id_attrezzo })">
                    <img src="@item.prodotto" style="width: 80px; height: 100px;" />
            </td>
            <td>@Html.DisplayFor(ModelItem => item.nome)</td>
            <td>@Html.DisplayFor(ModelItem => item.marchio)</td>
            <td>@Html.DisplayFor(ModelItem => item.peso)</td>
            <td>@Html.DisplayFor(ModelItem => item.prezzo)</td>


            <td>@Html.ActionLink("Dettaglio prodotto", "SpecificheAttrezzi", new { id_attrezzo = item.id_attrezzo })</td>
            <td>@Html.ActionLink("Agguingi al carello", "Carrello", new { id_attrezzo = item.id_attrezzo })</td>

            @*
                   <a href="@Url.Action("SpecificheAttrezzi", "Utente", new { id = item.id_attrezzo })">
                    <img src="@item.img_url" style="width: 80px; height: 100px;" />
                </a>



        </tr>
    }
</table>

*@



