@model WebApplication1.Models.SpecificheAttrezzi

@{
    ViewBag.Title = "SpecificheAttrezzi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>SpecificheAttrezzi</h2>


<table class="table table-striped table-hover">
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.id_attrezzo)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.id_attrezzo)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.nome)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.nome)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.colore)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.colore)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.dimensione)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.dimensione)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.marchio)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.marchio)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.peso)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.peso)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.prezzo)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.prezzo)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.quantita)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.quantita)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.materiale)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.materiale)
        </td>
    </tr>





</table>
